<div class="container">

  <div class="jumbotron" style="margin: 5%;">

    <div class="row justify-content-center">
      <a class="btn btn-primary btn-lg" routerLink="/" role="button" routerLinkActive = "active" [routerLinkActiveOptions]=" { exact : true }">Home<span class="sr-only">(current)</span></a>
    </div><br>
    <div class="row justify-content-center">
      <a class="btn btn-success btn-lg" routerLink="/product" role="button" routerLinkActive = "active">Product</a>
    </div><br>
    
    <div class="row justify-content-center">
      <a class="btn btn-dark btn-lg" routerLink="/contact" role="button" routerLinkActive = "active">Contact</a>
    </div>

 
  </div>


  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>