
<div class="row  justify-content-center" style="margin: 5%;">
    <div class="col-sm-12">
        <div class="card">
            <div class="row card-body">
               <div class="col-md-12">
                <p class="card-text"><span class="font-weight-bold">Full Name:</span> {{ userDetails.name }}</p>
                <p class="card-text"><span class="font-weight-bold">Email:</span> {{ userDetails.email }}</p>
                <p class="card-text"><span class="font-weight-bold">Phone:</span> {{ userDetails.phone }}</p>
                <div class="card-text">
                    <a class="link" routerLink="/templateform">Go to User Registration</a>
                </div>
                </div>
            </div>
        </div>
    </div>